doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(property="og:title" content=name)
        meta(property="og:locale" content="en_US")
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="PROJECT NAME")
        block metaTags

        link(rel="stylesheet" href="https://use.typekit.net/ajw4icq.css")

        // FA CSS
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

        link(rel="stylesheet" href="/styles/default.css")
        block cssLinks


        block scripts
        title #{name}
  
        //- link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        //- link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        //- link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        //- link(rel="manifest" href="/site.webmanifest")
        link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#f7931e")
        meta(name="msapplication-TileColor" content="#f7931e")
        meta(name="theme-color" content="#ffffff")
    body
        global-nav-bar(useDarkMode=JSON.stringify(useDarkMode))
        block content
    
